:root {
  --font: Roboto;
  --primary-color: #7C59CA;
  --secondary-color: #9D81E0;
  --linear-color: #8f6edc, #7f65bd;
  --black: #000;
  --body-color: #f2effa;
  --sidebar-bg: #7c5acbb8;
  --white: #fff;
  --whitegrey: #F2F2F2;
  --grey: #545454;
  --para-color: #303968;
  --header-bg: #f2effa;
  --box-white: #fff;
}

/* Import a font that matches the "tech" style from the image */
/* @import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;700&display=swap'); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}